<div class="wrapper wrapper-full-page">
    <div class="animated fadeIn fast" style="background-image: url('../../../../assets/img/fondologin.PNG');   background-repeat: no-repeat;
    background-size: 68% 95%; background-position: top left;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-8">
                </div>
                <div class="animate__fadeIn col-3 login">
                    <form class="form" method="" action="">
                        <div class="card card-login">
                            <div class="card-body ">
                                <span class="bmd-form-group">
                                   <h3>Iniciar Sesión</h3>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">face</i>
                                        </span>
                            </div>
                            <input type="email" class="form-control" placeholder="usuario">
                        </div>
                        </span>
                        <span class="bmd-form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">lock_outline</i>
                                </span>
                </div>
                <input type="password" class="form-control" placeholder="constraseña">
            </div>
            </span>
        </div>
        <div class="card-footer justify-content-center">
            <a class="btn btn-primary btn-link btn-lg"></a>
        </div>
        <button class="btn btn-info">
                <a routerLink="/modulo2/roles">Iniciar sesión</a>
                <div class="ripple-container"></div></button>
    </div>
    </form>
</div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <nav class="float-left">

        </nav>
        <div class="copyright float-center">
            <a href="https://olsoftware.com/" target="_blank">OLSoftware - 2021</a>
        </div>
    </div>
</footer>
</div>