<div class="wrapper wrapper-full-page">
    <div class="" style="background-image: url('../../../../assets/img/fondologin.PNG');   background-repeat: no-repeat;
    background-size: 68% 95%; background-position: top left;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-3 login">
                    <form class="form" method="" action="">
                        <div class="card card-login">
                            <div class="card-body ">
                                <span class="bmd-form-group">
                                   <h3>Iniciar Sesión</h3>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                            </div>
                            <input type="text" class="form-control" placeholder="usuario">
                        </div>
                        </span>
                        <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                </div>
                <input type="password" class="form-control" placeholder="contraseñas">
            </div>
            </span>
        </div>
        <div class="card-footer justify-content-center">
            <a href="#pablo" class="btn btn-primary btn-link btn-lg"></a>
        </div>
        <button class="btn btn-facebook">
                Iniciar Sesión
                <div class="ripple-container"></div></button>
    </div>
    </form>
</div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <nav class="float-left">

        </nav>
        <div class="copyright float-center">
            <a href="https://olsoftware.com/" target="_blank">OLSoftware - 2018</a>
        </div>
    </div>
</footer>
</div>