<div class="content login">
    <div class="container-fluid ">
        <div class="login row">
            <div class="col-md-9">
                <div class="animate__fadeIn card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people_alt</i>
                        </div>
                        <h4 class="card-title">Usuarios existentes</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">

                            </div>
                            <div class="col-md-3 ml-auto">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarModal">
                                    <span class="btn-label">
                                    <i class="material-icons">create</i>
                                    </span>
                                    Crear
                          </button>
                            </div>
                        </div>
                        <!----table-->
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- lastname Column -->
                                <ng-container matColumnDef="lastname">
                                    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                                    <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                                </ng-container>

                                <!-- id Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> Identificación (C.C) </th>
                                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>

                                <!-- rol Column -->
                                <ng-container matColumnDef="rol">
                                    <th mat-header-cell *matHeaderCellDef> Rol asociado </th>
                                    <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
                                </ng-container>

                                <!-- status Column -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                </ng-container>

                                <!-- telephon Column -->
                                <ng-container matColumnDef="telephon">
                                    <th mat-header-cell *matHeaderCellDef> Télefono </th>
                                    <td mat-cell *matCellDef="let element"> {{element.telephon}} </td>
                                </ng-container>

                                <!-- email Column -->
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef> Correo electrnico </th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>

                                <!-- action Column -->

                                <ng-container matColumnDef="action">
                                    <th class="text-right" mat-header-cell *matHeaderCellDef> Acción </th>
                                    <td class="td-actions text-right" mat-cell *matCellDef="let element">
                                        <button type="button" rel="tooltip" title="Editar usuario" class="editar btn btn-simple btn-default btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                                        <button type="button" rel="tooltip" title="Eliminar usuario" class="eliminar btn btn-simple btn-default btn-link btn-sm">
                                <i class="material-icons">delete</i>
                              </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">person_add_alt</i>
                        </div>
                        <h4 class="card-title">Filtrar búsqueda</h4>
                    </div>
                    <div class="card-body">

                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nombres</label>
                                        <input type="text" class="form-control" matInput (keyup)="applyFilter($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Apellidos</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Identificación (C.C)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Rol asociado</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <button type="button" class="btn btn-success">Filtrar</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Limpiar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarModal">Agregar nuevo usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Nombres</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Apellidos</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Identificación</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Rol asociado</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Estado</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Contraseña</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Teléfono</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Correo electrónico</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </div>
    </div>