<div class="content login">
    <div class="container-fluid ">
        <div class="login row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">library_books</i>
                        </div>
                        <h4 class="card-title">Usuarios existentes</h4>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3 ml-auto">
                                <button routerLink="/modulo1/crear-formulario" class="btn btn-info">
                            <span class="btn-label">
                              <i class="material-icons">create</i>
                            </span>
                            Crear
                          </button>
                            </div>
                        </div>
                        <!----table-->
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- lastname Column -->
                            <ng-container matColumnDef="lastname">
                                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                                <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                            </ng-container>

                            <!-- id Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Identificación (C.C) </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>

                            <!-- rol Column -->
                            <ng-container matColumnDef="rol">
                                <th mat-header-cell *matHeaderCellDef> Rol asociado </th>
                                <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
                            </ng-container>

                            <!-- status Column -->
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>

                            <!-- telephon Column -->
                            <ng-container matColumnDef="telephon">
                                <th mat-header-cell *matHeaderCellDef> Télefono </th>
                                <td mat-cell *matCellDef="let element"> {{element.telephon}} </td>
                            </ng-container>

                            <!-- email Column -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Correo electrnico </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <!-- action Column -->

                            <ng-container matColumnDef="action">
                                <th class="text-right" mat-header-cell *matHeaderCellDef> Acción </th>
                                <td class="td-actions text-right" mat-cell *matCellDef="let element">
                                    <button type="button" rel="tooltip" title="Editar usuario" class="editar btn btn-simple btn-default btn-link btn-sm">
                            <i class="material-icons">edit</i>
                          </button>
                                    <button type="button" rel="tooltip" title="Eliminar usuario" class="eliminar btn btn-simple btn-default btn-link btn-sm">
                            <i class="material-icons">delete</i>
                          </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">library_books</i>
                        </div>
                        <h4 class="card-title">Filtrar búsqueda</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>Input</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Select</mat-label>
                                    <mat-select>
                                        <mat-option value="one">First option</mat-option>
                                        <mat-option value="two">Second option</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Textarea</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>


                            </div>
                            <div class="col-md-12">

                            </div>
                            <div class="col-md-12">
                                <div class="mat-form-field-flex">
                                    <!---->
                                    <!---->
                                    <div class="mat-form-field-infix"><input _ngcontent-c6="" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored" matinput="" id="mat-input-0" placeholder="Título" aria-invalid="false" aria-required="false">
                                        <span class="mat-form-field-label-wrapper">
                                            <!----><label class="mat-form-field-label ng-tns-c7-2 mat-empty mat-form-field-empty ng-star-inserted" id="mat-form-field-label-3" for="mat-input-0" aria-owns="mat-input-0"><!----><!---->Título<!----><!----></label></span>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>